@font-face {
  font-family: "ApocNormal-Light";
  src: url("../fonts/ApocNormal-Light.woff2") format("woff2"),
  url("../fonts/ApocNormal-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "ApocNormal-Light";
  src: url("../fonts/ApocNormal-Light.woff2") format("woff2"),
  url("../fonts/ApocNormal-Light.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "ApocNormal-LightItalic";
  src: url("../fonts/ApocNormal-LightItalic.woff2") format("woff2"),
  url("../fonts/ApocNormal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; 
}

@font-face {
  font-family: "ApocNormal-LightItalic";
  src: url("../fonts/ApocNormal-LightItalic.woff2") format("woff2"),
  url("../fonts/ApocNormal-LightItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

html{
    box-sizing: border-box;
  }
  
  *, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html,
  body{
    height: 100%;
  } 
  
  body {
    font-family: 'ApocNormal-Light';
    font-weight: 300;
    background-color: #fff;
  }

  a{
    text-decoration: none;
    color: inherit;
  }  
  
  .header {
    background-color: transparent;
    left: 0;
    right: 0;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .container, .list {
    margin: 0 auto;
    padding: 8px 16px;
    padding-top: 0;
    max-width: 1960px;
  }
  
  .title {
    display: flex;
    align-items: baseline;
  }
  
  .title__text,
  .footer__next-project__label-text {
    font-size: calc( (100vw - 980px)/(1600 - 980) * (64 - 32) + 32px);
    line-height: 58px;
  }
  
  .title__index-text,
  .footer__index-text{
    position: absolute;
    font-size: 32px;
  }

  .title__index-ellipse,
  .footer__index-ellipse {
    width: 5.15vw;
    min-width: 5.15vw;
  }
  
  .title__close {
    width: 4.8vw;
    min-width: 4.8vw;
    padding-top: 10px;
    cursor: url('../images/cursor.svg'), auto;
  }
  
  .description__text {
    margin: 101px 432px 109px 0;
    text-align: left;
    font-size: calc( (100vw - 980px)/(1600 - 980) * (64 - 27) + 27px);
    line-height: calc( (100vw - 980px)/(1600 - 980) * (58 - 25) + 25px);
  }
  
  .description__list {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 520px;
    padding-bottom: 16px;
  }

  .description__list_describe {
    font-size: calc( (100vw - 980px)/(1600 - 980) * (18 - 9.5) + 9.5px);
    line-height: calc( (100vw - 980px)/(1600 - 980) * (22 - 10) + 10px);
    margin-right: calc( (100vw - 980px)/(1600 - 980) * (89 - 5) + 9px);
  }

  .images_fullscreen, 
  .images_halfscreen,
  .images_fullscreen_mobile_solo {
    max-width: 100%;
    padding-bottom: 12px;
  }

  .images_halfscreen {
    padding-bottom: 16px;
  }

  .images_fullscreen_mobile {
    max-width: 49.5%;
    padding-bottom: 11px;
  }

  .images_halfscreen_mobile {
    max-width: 100%;
    padding-bottom: 16px;
  }

  .images_doublescreen,
  .images_doublescreen_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    
  }

  .footer {
    text-align: center;
    overflow: hidden;
  }

  .like-block {
    margin-top: 24px;
    position: relative;
  }
  
  .footer__like {
    position: absolute;
    border: none;
    background-color: inherit;
    font-family: 'ApocNormal-Light';
    font-size: calc( (100vw - 980px)/(1600 - 980) * (64 - 27) + 27px);
    font-weight: 400;
    line-height: 58px;
    z-index: 2;
    left: 0;
    cursor: url('../images/cursor.svg'), auto;
    }
  
  .footer__hearth__main {
    margin-top: 290px;
    margin-bottom: 262px;
    cursor: url('../images/cursor.svg'), auto;
    width: 12vw;
    min-width: 12vw;
  }

  .footer__hearth__1 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (-50 + 40) - 40px);
    top: calc( (100vw - 980px)/(1600 - 980) * (-95 + 57) - 57px);
  }

  .footer__hearth__2 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (-50 + 40) - 40px);
    top: calc( (100vw - 980px)/(1600 - 980) * (348 - 300) + 300px);
  }

  .footer__hearth__3 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (347 - 150) + 150px);
    top: calc( (100vw - 980px)/(1600 - 980) * (150 - 140) + 140px);
  }

  .footer__hearth__4 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (407 - 190) + 190px);
    top: calc( (100vw - 980px)/(1600 - 980) * (500 - 500) + 500px);
  }

  .footer__hearth__5 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (925 - 550) + 550px);
    top: calc( (100vw - 980px)/(1600 - 980) * (0 + 0) + 0px);
  }

  .footer__hearth__6 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (1125 - 650) + 650px);
    top: calc( (100vw - 980px)/(1600 - 980) * (363 - 300) + 300px);
  }

  .footer__hearth__7 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (1410 - 860) + 860px);
    top: calc( (100vw - 980px)/(1600 - 980) * (-95 + 57) - 57px);
  }

  .footer__hearth__8 {
    position: absolute;
    left: calc( (100vw - 980px)/(1600 - 980) * (1410 - 800) + 800px);
    top: calc( (100vw - 980px)/(1600 - 980) * (500 - 500) + 500px);
  }

  .hidden {
    transform: translateY(1000px);
    opacity: 0;
    transition: transform 0s ease-in-out, opacity 0s ease-in-out;

  }

  .visible {
    transform: translateY(-800px);
    opacity: 1;
    transition: opacity 5s ease-in-out, transform 5s ease-in-out;
    width: 12vw;
    min-width: 12vw;
  }

  .link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    cursor: url('../images/cursor.svg'), auto;
  }

  .footer__next-project {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .footer__next-project__name {
    padding-right: calc( (100vw - 980px)/(1600 - 980) * (32 - 10) + 10px);
    font-size: calc( (100vw - 980px)/(1600 - 980) * (64 - 32) + 32px);
  }

  .footer__arrow {
    min-width: 28%;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  
  .footer__next-project__label {
    display: flex;
    padding-left: calc( (100vw - 980px)/(1600 - 980) * (28 - 10) + 10px);
    align-items: center;
  }

  .footer__index-text {
    font-size: 32px;
}

