@font-face {
  font-family: "ApocNormal-Light";
  src: url("../fonts/ApocNormal-Light.woff2") format("woff2"),
  url("../fonts/ApocNormal-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family:"ApocNormal-Light";
  src: url("../fonts/ApocNormal-LightItalic.woff2") format("woff2"),
  url("../fonts/ApocNormal-LightItalic.woffx§ ") format("woff");
  font-weight: 700;
}

@font-face {
  font-family:"ApocNormal-LightItalic";
  src: url("/app/fonts/ApocNormal-LightItalic.woff2") format("woff2"),
  url("/app/fonts/ApocNormal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; 
}

@font-face {
  font-family:"ApocNormal-LightItalic";
  src: url("/app/fonts/ApocNormal-LightItalic.woff2") format("woff2"),
  url("/app/fonts/ApocNormal-LightItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}


html{
    box-sizing: border-box;
  }
  
  *, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  html,
  body{
    height: 100%;
  } 
  
  body {
    font-family: 'ApocNormal-Light';
    font-size: 64px;
    font-weight: 300;
    line-height: 58px;
    background-color: #fff;
  }

  a{
    text-decoration: none;
    color: inherit;
  }  
  
  .header {
    background-color: transparent;
    left: 0;
    right: 0;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .container, .list {
    margin: 0 auto;
    padding: 8px 16px;
    padding-top: 0;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .title__text {
    font-weight: 300;
    font-size: 64px;
  }
   
  .title__index,
  .footer__next-project__name_index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title__index-text,
  .footer__index-text{
    position: absolute;
    font-size: 32px;
  }
  
  .title__close {
    padding-top: 10px;
  }
  
  .description__text {
    margin: 101px 432px 109px 0;
    text-align: left;
    max-width: 100%;
  }
  
  .description__list {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 520px;
    padding-bottom: 16px;
  }

  .description__list_describe {
    font-size: 18px;
    line-height: 22px;
    margin-right: 89px;
  }

  .images_fullscreen, 
  .images_halfscreen,
  .images_fullscreen_mobile_solo,
  .images_halfscreen_mobile {
    max-width: 100%;
    padding-bottom: 16px;
  }
  
  .images_fullscreen_mobile {
    max-width: 49.5%;
    padding-bottom: 16px;
  }

  .images_doublescreen,
  .images_doublescreen_mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .footer {
    text-align: center;
  }

  .like-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    position: relative;
  }
  
  .footer__like {
    position: absolute;
    border: none;
    background-color: inherit;
    font-family: 'ApocNormal-Light';
    font-size: 64px;
    font-weight: 400;
    line-height: 58px;
    z-index: 2;
    left: 0;
    cursor: pointer;
  }
  
  .footer__hearth__main {
    margin-top: 290px;
    margin-bottom: 262px;
    cursor: pointer;
  }

  .footer__hearth__1 {
    position: absolute;
    left: -50px;
    top: -95px;
  }

  .footer__hearth__2 {
    position: absolute;
    left: -50px;
    top: 348px;
  }

  .footer__hearth__3 {
    position: absolute;
    left: 347px;
    top: 150px;
  }

  .footer__hearth__4 {
    position: absolute;
    left: 407px;
    top: 563px;
  }

  .footer__hearth__5 {
    position: absolute;
    left: 925px;
    top: 0px;
  }

  .footer__hearth__6 {
    position: absolute;
    left: 1125px;
    top: 363px;
  }

  .footer__hearth__7 {
    position: absolute;
    left: 1510px;
    top: -95px;
  }

  .footer__hearth__8 {
    position: absolute;
    left: 1440px;
    top: 547px;
  }

  .hidden {
    display: none;
  }

  .footer__next-project {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .footer__next-project__name {
    padding-right: 32px;
  }

  .footer__arrow {
    width: 100%;
  }
  
  .footer__next-project__label {
    display: flex;
    padding-left: 28px;
  }
